<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NReco.PdfGenerator" version="1.2.0" targetFramework="net461" />
  <package id="Octokit" version="0.50.0" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
</packages>